
.loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #29333D;
    border-radius: 50%;
    border-top-color: #310571;
    height: 50px;
    width: 50px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }