.form-div{
  animation: show 5s linear;
  animation-fill-mode: none;
}

@keyframes show {
  0% {
      display: none;
      opacity: 0;
  }
  1% {
      display: block;
  }
  100% {
      display: block;
      opacity: 1;
  }
}